<%= render "users/user_new" %> 
<body>
 <%= form_with(model: @plan, local: true) do |form| %>
 <div class ="plan-main">
  <div class="title">
   <div class="plan-top">
      <div class="plan-title">
      <p>タイトル</p>
        <%= form.text_field :title%>
      </div>
        <div class="plan-date">
        <p>日付</p>
         <%= form.datetime_select :start_time %>
        </div>
    </div> 
  </div>
  
  <div class='main'>
        <div class="left-content">
            <div class="left-plan">
              <div class="place">
               <p>場所</p>
                <%= form.text_field :place %>
              </div>
              <div class="do-list">
                </p>内容</p>
                     <%= form.text_area :list, rows: "10" %>
              </div>
          </div>
      </div>


   <div class="right-content">
   <p>写真</p>
     <%= form.file_field :image, id:"plan-image" %> 
    </div>
     <%= form.submit "投稿" %>
     </div>
     <% end %>
     </div>
     </body>
